{% extends "base.html" %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block body %}
    <div id="chanpin">
		<ul>
			<li id="point"><a href="/sheying/"><img src="/static/css/tagcn/sheying.jpg"></img></a></li>
			<li id="point"><a href=""><img src="/static/css/tagcn/chanpin.jpg"></img></a></li>
		</ul>
		<div id="titlecp"><img src="/static/css/tagcn/title_chanpin.jpg"></div>
		<div id="wordchanpin">
			<font size=2 color=#978dd6>{{flatpage.content|linebreaksbr}}</font>
		</div>
	</div>
{% endblock %} 	
