{% extends "base.html" %}

{% block title %}
	{{ flatpage.title }}
{% endblock %}

{% block body %}
	<div id="sheying">
		<ul>
			<li id="point"><a href=""><img src="/static/css/tagcn/sheying.jpg"></img></a></li>
			<li id="point"><a href="/chanpin/"><img src="/static/css/tagcn/chanpin.jpg"></img></a></li>
		</ul>
		<div id="titlesy">
		    <img src="/static/css/tagcn/title_sheying.jpg">
		</div>
		<div id="wordsheying">
			<font size=2 color=#978dd6>{{flatpage.content}}</font>
		</div>
	</div>
{% endblock %} 
		
		
		