<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>
            {% block title %}
            {% endblock %} 
        </title>
		<link rel="stylesheet" href="/static/css/basic.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/galleriffic.css" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.galleriffic.js"></script>
		<script>
			$(document).ready(function(){ 
				$(".c2").hover(
					function () {
						$(this).addClass("c1");
					},
					function () {
						$(this).removeClass("c1");
					}
				);
			}
			);
		</script>				
	</head>
	<body>		
		<div id="logo"></div>
		<div id="guide">
			<ul>
				<li class="c2"><a href="/index/"><img src="/static/css/tagcn/li_index.jpg"></a></li>
				<li class="c2"><a href="/about/"><img src="/static/css/tagcn/li_about.jpg"></img></a></li>
				<li class="c2"><a href="/appreciation/" ><img src="/static/css/tagcn/li_pic.jpg"></img></a></li>
				<li class="c2"><a href="/sheying/" ><img src="/static/css/tagcn/li_products.jpg"></img></a></li>
				<li id="language" class="c2"><a href="/bbs/" ><img src="/static/css/tagcn/li_message.jpg"></img></a></li>
				<li class="c2"><a href="/index/"><b>中文版</b></a></li>
				<li class="c2"><a href="/testindex/"><b>English</b></a></li>				
		    </ul>
		</div>
		{% block body %} 
        {% endblock %} 
		<div id="footer">&copy; 测试页</div>
	</body>
</html>
