#guide  { width:900px; margin: -10 auto;}
#guide ul { height:40px; 
			padding-left:0px; 
			border-left:0px solid #DAD7CF; 
			border-right:0px solid #DAD7CF;
			list-style:none;
			}
#guide li { float:left;}
#guide li a { font-size:13px; 
              display:block;
			width:90px;
			text-align:center; 
			line-height:30px;
			color:#ffffff}
#guide li a:link,
#guide li a:visited {background: no-repeat; }
#guide li a:hover,
#guide li a.active {border-style:outset; }


#language { width:38%; margin:0px auto;}


li#point {list-style:none;}
img{border-style: none;}

html, body {
	margin:0;
	padding:0;
}
body{
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	background: url(/static/css/bck.jpg) repeat-x;
	color: #444;
	font-size: 75%;
}
a{
	color: #27D;
	text-decoration: none;
}
a:focus, a:hover, a:active {
	text-decoration: underline;
}
p, li {
	line-height: 2em;
}
h1, h2 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	margin: 0;
}
h1 {
	margin-bottom: 10px;
	padding: 0;
	font-size:3em;
	color: #333;
	letter-spacing:-1px;
}
h2 {
	padding-top: 10px;
	font-size:2em;
	letter-spacing:-1px;
}
pre {
	font-size: 1.2em;
	line-height: 1.2em;
}

div#logo {
	height:186px;
	width: 912px;
	background: url(/static/css/logo.jpg) repeat-x;
	margin: -5 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 0px 0px;    
}

div#index {
    height:339px;
	width: 915px;
	background: url(/static/css/background/index_bg.jpg);
	margin: -10 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 0px 0px;
	filter:progid:DXImageTransform.Microsoft.Shadow 
	(Color=#333333,Direction=120,strength=5);
	
}
div#about {
	height:506px;
	width: 915px;
	background: url(/static/css/background/about_bg.jpg);
	margin: 1 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 0px 0px;  
    filter:progid:DXImageTransform.Microsoft.Shadow 
    (Color=#333333,Direction=120,strength=5);	  
}

div#appreciation{
	height:503px;
	width: 913px;
	background: url(/static/css/background/appreciation_bg.jpg);
	margin: 1 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 0px 0px;  
    filter:progid:DXImageTransform.Microsoft.Shadow 
    (Color=#333333,Direction=120,strength=5);	  
}
div#sheying{
	height:502px;
	width: 910px;
	background: url(/static/css/background/sheying_bg.jpg);
	margin: 1 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 0px 0px;  
    filter:progid:DXImageTransform.Microsoft.Shadow 
    (Color=#333333,Direction=120,strength=5);	  
}
div#chanpin{
	height:503px;
	width: 914px;
	background: url(/static/css/background/chanpin_bg.jpg);
	margin: 1 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 0px 0px;  
    filter:progid:DXImageTransform.Microsoft.Shadow 
    (Color=#333333,Direction=120,strength=5);	  
}
div#zhuanti{
	width: 905px;
	background: url(/static/css/background/picground.jpg);
	margin: 1 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 0px 0px;  	  
}

div#container {
	padding: 20px;
}
div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}
div#footer {
	clear: both;
	color: #777;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}
